*{
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: sans-serif;
    
}
body
{
    background-color: rgba(254, 254, 254, 0.726);
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content:space-evenly;
    overflow:scroll;
}
.sidebar
{
    width: 16%;
    background-color:rgb(255, 253, 253);
    height: 100%;
    padding: 20px;    
    position: fixed;
    left: 0%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(194, 188, 188);
    
}

.sidebar a:hover i
{
    
    transition: all 0.2s linear;
    transform: scale(1.1);
    
}
.sidebar a:hover
{
    background-color: rgb(248, 243, 243);
}

.middle
{
    
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding-right: 150px;
    position:absolute;
    left: 20%;
    
}
.right
{
    width: 30%;
    background-color: rgb(254, 254, 254);
    height: 100%;
    position: absolute;
    right: 0%;
    
}
.sidebar img
{
    width: 120px;
    height: 40px;
}
.sidebar a
{
    display: flex;
    align-items: center;
}
.material-icons
{
    margin-right: 1rem;
    color: black;
    font-size: 28px;
}
.menu
{
    padding-top: 30px;
    
    
}
.menu a
{
    color: black;
    padding-left: 5px;
    padding-block: 10px;
    
}
.stories img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-color: rgb(253, 176, 217);
    border: solid rgb(245, 184, 184);
    
    
}
.stories img img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    


}
.stories
{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    
    
}
.stories p
{
    font-size: x-small;
    text-align: center;
    color: rgb(79, 27, 27);
}

.post-1
{
padding-left: 60px;
padding-top: 40px;

}
.post-2
{
padding-left: 60px;
padding-top: 40px;
}
.post-3
{
padding-left: 60px;
padding-top: 40px;
}
.header
{
    height: 30px;
    display: flex;
    align-items: flex-start;
    font-size: smaller;
    
}
.name
{
    height: 30px;
    align-items: center;
}

.upper
{
    display: flex;
    height: 15px;
}
.lower
{
    height: 15px;
    font-size: medium;
}

.profile-pic img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right: 5px;
    
}
.tik img
{
    width: 15px;
    height: 15px;
    
}
.tik{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.more
{
align-items:centre;
padding-left: 250px;
}
.photo img
{
    padding-top: 30px;
height: 450px;
width: 470px;
}
.reaction
{
    display: flex;
    padding: 5px;
}
.save
{
    padding-left: 290px;
}
.add-comment
{
    display: flex;
    padding-bottom: px;
}
.smiley .material-icons
{
    padding-left: 330px;
    padding-top: 20px;
    font-size: 15px;
}
.line
{
    
    border: 1px solid rgb(225, 213, 213);
    width: 475px;
}
.right-box
{
    padding-left: 70px;
    padding-top: 40px;
}
.self-photo img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
.profile-photo img
{
    height: 35px;
    width: 35px;
    border-radius: 50%; 
    padding-top: 7px;
}
.self-profile
{
    display: flex;
    align-items: center;
    
}
.profile-name
{
    padding-left: 20px;
    font-size: small;
    height: 18px;
    padding-bottom: 30px;
    
}
.id
{
    height: 5px;
}
.pk-name
{
    height: 5px;
    
}
.friend-1
{
    display: flex;
    align-items: center;
}
.friend-2
{
    display: flex;
}
.friend-3
{
    display: flex;
}
.friend-4
{
    display: flex;
}
.friend-5
{
    display: flex;
}
.sug p
{
    font-size: smaller;
}
.about p
{
    
    font-size:12px;
    color: rgb(178, 170, 170);
}
.about
{
    padding-top: 15px;
}
.line-1
{
    height: 5px;
}
.insta p
{
    padding-top: 20px;
    color: rgb(179, 168, 168);
    font-size: 12px;
    
}
.switch
{
    font-size: smaller;
    
}
.switch a
{
    color: blue;
    padding-left: 40px;
    align-items: center;
}
.friend-1 a
{
    padding-left: 80px;
}
.switch-2 a
{
    color: blue;
    font-size: smaller;
    padding-left: 108px;
}
.switch-2
{
    height: 10px;
    padding-top: 20px;

}
.switch-3 a
{
    color: blue;
    font-size: smaller;
    padding-left: 108px;
}
.switch-3
{
    padding-top: 20px;
}
.switch-4 a
{
    color: blue;
    font-size: smaller;
    padding-left: 108px;
}
.switch-4
{
    padding-top: 20px;
}
.switch-5 a
{
    color: blue;
    font-size: smaller;
    padding-left: 85px;
}
.switch-5
{
    padding-top: 20px;
}
.sugg
{
    display: flex;
}
.see-all{
    padding-left: 109px;
    font-size: smaller;
    align-items: center;
    padding-top: 5px;
}

